.nav {
    display: inline-block;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0 5rem;
    cursor: pointer;
}

li:hover{
    color: blue;
}
  
